.page-cadastrar-usuario{

    width: 100% !important;
    height: 100% !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #D9BBB0 ;

    .page-title {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .page-title h1 {
        color: #674637;
    }
    
    .box-login{
        width: 50%;
        height: 70vh;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
    }

    .image-login{
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0.35rem 0 0 0.35rem;
        background-image: url("../../../../public/images/img-5.png");
    }

    .titulo{
        font-size: 60px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .linha {
        width: 100%;
        border-bottom: 1px solid #000;
    }

    .form-login {
        width: 50%;
        height: 100%;
        padding: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .form-group {
        width: 100%;
    }

    hr{
        width: 350px;
    }

    .btn-login {
        width: 45%;
        padding: 15px;
        color: #fff;
        font-size: 24px;
        border-radius: 10px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .page-text {
        color: #000;
        font-size: 24px;
        font-family: 'Julius Sans One', sans-serif;
    }

    .personal-label{
        font-size: 20px;
        cursor: pointer;
    }

    .login-create-user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .login-footer {
        display: flex;
        height: 20%;
        justify-content: space-between;
    }

    .btn-cadastrar{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .primeiroElemento{
        margin-top: 20px;
    }

}